-ID = 1109;
-date = "0915";
-$TH = "TH14_export_linge";
/ google ga()
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-#{ID}', document.location.pathname);";
-$ga = "ga('local.send', 'event', 'EncartHP_Ecata', 'date_"+date+"', document.location.pathname);";
/ txt
-$titleH1 = "Make your life easier!";
-$titleH2 = ["Everything ", "for your ", "linen!"];
/ LINK
-$link_ray = "http://www.ideascomfort.co.uk/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=#{ID}";
-$linkbtcata = "http://www.ideascomfort.co.uk/cat/uk/ECatalog.htm";