-ID = 1111;
-$TH = "TH14_export_linge";
/ google ga()
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-#{ID}', document.location.pathname);";
/ txt
-$titleH1 = "Maak uw leven gemakkelijker!";
-$titleH2 = ["Alles voor het ", "onderhoud ", "en ", "opberging ", "van ", "wasgoed."];
/ link
-$link_ray = "http://www.ideascomfort.be/bevl/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=#{ID}";