-ID = 1107;
-$TH = "TH14_export_linge";
/ google ga()
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-#{ID}', document.location.pathname);";
/ txt
-$titleH1 = "Facilitez-vous la vie !";
-$titleH2 = ["tout pour l’", "entretien ", "et ", "le ", "rangement du linge."];
/ link
-$link_ray = "http://www.ideascomfort.be/befr/boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id=#{ID}";