-ID = 1106;
-date = "0915";
-$TH = "TH14_export_linge";
/ google ga()
-$ga_ray  = "ga('local.send', 'event', 'EncartHP', '"+$TH+"_id-#{ID}', document.location.pathname);";
-$ga = "ga('local.send', 'event', 'EncartHP_Ecata', 'date_"+date+"', document.location.pathname);";
/ txt
-$titleH1 = "Maak uw leven gemakkelijker!";
-$titleH2 = ["Alles voor het ", "onderhoud ", "en ", "opberging ", "van ", "wasgoed."];
/ LINK
-$link_ray = "http://www.ideascomfort.nl/nl/boutique/rayon_evenement.aspx?pg=0&nbp=99&evenement_id=#{ID}";
-$linkbtcata = "http://www.ideascomfort.nl/cat/nl/ECatalog.htm";